# Python cache files
__pycache__/
*.py[cod]

# Ignore images and visualizations
images/
*.png
*.jpg
*.jpeg
*.gif

# Ignore data directories and files
data/
LMSPS/data/
LMSPS/downloads/
LMSPS/*.zip

# Ignore IDE and environment files
*.env
*.DS_Store
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
*.temp

# Ignore Docker files
Dockerfile

# Mac system files
*.DS_Store

# Any other specific file types you want to exclude
*.egg-info/
dist/
build/

