# Ignore data directories
/data/
/LMSPS/data/
/LMSPS/downloads/

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg

# Ignore large non-code files
*.zip
*.dat
*.dat.test
*.dat.test_full

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
testVenv/

# Ignore output directories
/LMSPS/hgb/output/

# Ignore specific large directories
/LMSPS/hgb/pytorch_sparse/

# Ignore Docker-related files
Dockerfile

# Keep .gitignore
!.gitignore

preprocessed_hg.pt